<header class="site-header sticky-top py-1 " style="padding-left: 30px; padding-right: 30px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded menu" aria-label="Twelfth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10"
                aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img class="d-inline-block" [src]="logo" alt="Logo NVConsulting" width="250" height="75">
            </a>
            <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">
                Menú
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" routerLink="cursos">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ayuda">Ayuda</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown"
                            aria-expanded="false">Administración</a>
                        <ul class="dropdown-menu subMenu" aria-labelledby="dropdown10">
                            <li><a class="dropdown-item" routerLink="cargo">Cargos</a></li>
                            <li><a class="dropdown-item" routerLink="add">Agregar cargo</a></li>
                            <li><a class="dropdown-item" routerLink="empleados">Empleados</a></li>
                            <li><a class="dropdown-item" routerLink="addemp">Agregar empleado</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/register">Registro</a>
                    </li>
                </ul>
            </div>
            <app-curso-carrito></app-curso-carrito>

        </div>

    </nav>
</header>
<main class="container ">
    <!-- <br>
    <h2 class="text-light" style="text-align: center;">{{title}}</h2>
    <hr> -->
    <div class="card contenido">
        <div class="card-body contenido">
            <router-outlet></router-outlet>

        </div>
    </div>
</main>

<footer class="bg-dark text-white footer">
    <div class="container">
        <nav class="row">
            <ul class="col-4 list-unstyled text-center">
                <li class="font-weight-bold text-uppercase"></li>
                <li><a href="#" class="text-reset">Trabaja con nosotros</a></li>
                <li><a href="#" class="text-reset">Contactanos</a></li>
                <li><a href="#" class="text-reset">Ayuda y asistencia</a></li>
            </ul>
            <!--Menu 3-->
            <ul class="col-4 list-unstyled text-center">
                <li class="font-weight-bold text-uppercase"></li>
                <li><a href="#" class="text-reset">Condiciones</a></li>
                <li><a href="#" class="text-reset">Politica de privacidad</a></li>
                <li><a href="#" class="text-reset">Mapa del sitio</a></li>
            </ul>
            <!--redes-->
            <ul class="col-4 list-unstyled text-center">
                <p>Siguenos en: </p>
                <li class="social">
                    <a href="https://www.facebook.com/nvconsulting" target="_blank" class="text-reset">
                        <img [src]="fb" class="redes">
                    </a>
                </li>
                <li class="social">
                    <a href="#" class="text-reset">
                        <img [src]="ig" class="redes">
                    </a>
                </li>
                <li class="social">
                    <a href="#" class="text-reset">
                        <img [src]="tw" class="redes">
                    </a>
                </li>
                <li class="social">
                    <a href="#" class="text-reset">
                        <img [src]="yt" class="redes">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class=" row container-fluid  text-center p-3">
        <p class="small">&copy; Todos los derechos reservados :: Novus Vicis Consulting Group SAC :: Perú 2021</p>
    </div>
</footer>