<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Cargo List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cargo of cargos | async">
          <td>{{cargo.id_CARGO}}</td>
          <td>{{cargo.nombre}}</td>
          <td>{{cargo.estado}}</td>
          <td><button (click)="cargoDelete(cargo.id_CARGO)" class="btn btn-danger">Delete</button>
            <button (click)="cargoUpdate(cargo.id_CARGO)" class="btn btn-info" style="margin-left: 10px">Update</button>
            <button (click)="cargoDetails(cargo.id_CARGO)" class="btn btn-info"
              style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>