<div id="main">
    <div id="menu"></div>
    <div class="container container-fluid mb-5 mt-5">

        <div class="row">
            <div class="col-3">

                <div class="d-grid gap-2">
                    <button id="correo" class="btn btn-primary " style="text-align: left;">
                        Correo de profesores
                    </button>
                    <button id="socio" class="btn btn-primary mt-3" style="text-align: left;">
                        Beca socioeconómica
                    </button>

                    <button id="ayuda" class="btn btn-primary mt-3" style="text-align: left;">Ayuda Covid</button>
                    <button id="generales" class="btn btn-primary mt-3" style="text-align: left;">
                        Solicitudes generales
                    </button>
                </div>

            </div>
            <div class="col-1">

            </div>
            <div id="consultas" class="col-6">
                <div class="row">
                    <div class="col">
                        <h2>
                            Consultas frecuentes
                        </h2>
                    </div>
                </div>
                <div class="row rounded" style="background-color: white; color: black;">
                    <div class="col" style="height: auto; font-weight: bold;">
                        <p>
                            - ¿Como puedo solicitar la beca socioeconómica?
                        </p>
                        <p>
                            - Tengo covid, solicito un plazo para los pagos
                        </p>
                        <p>
                            - ¿Como puedo conseguir el correo de un docente?
                        </p>
                        <p>
                            - Deseo cambio de turno
                        </p>
                    </div>
                </div>
            </div>
            <div id="profesores" class="col-6">
                <div class="row">
                    <div class="col">
                        <h2>
                            Correo de Profesores
                        </h2>
                    </div>
                </div>
                <div class="row rounded" style="background-color: white; color: black;">
                    <div class="col" style="height: auto; font-weight: bold;">
                        <ul>
                            <li>Prof. Jeremias Quintana Quintana (DNV19055862@novusvicis.com)</li>
                            <li>Prof. Maria Jimenez Paredes (DNV13066487@novusvicis.com)</li>
                            <li>Prof. Raul Nolasco Alvarado (DNV15066254@novusvicis.com)</li>
                            <li>Prof. Jose Martinez Riquelme (DNV16633489@novusvicis.com)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="beca" class="col-6">
                <div class="row">
                    <div class="col">
                        <h2>
                            Beca Socioeconómica
                        </h2>
                    </div>
                </div>
                <div class="row rounded" style="background-color: white; color: black;">
                    <div class="col" style="height: auto; font-weight: bold;">
                        <p>
                            Estimado Alumno: Por favor, tener en cuenta lo siguiente para seguir con el proceso de solicitud de beca socioeconómica:
                        </p>
                        <ol>
                            <li>Para crear una nueva Solicitud de Beca, presione el botón "Nuevo".</li>
                            <li>Para ver o modificar su Solicitud de Beca, presione el check verde de la columna Solicitud.</li>
                            <li>Para ver o modificar su Ficha de Datos, presione el check verde de la columna Ficha.</li>
                            <li>Para ver o modificar sus Documentos Adjuntos, presione el check verde de la columna Documentos.</li>
                            <li>Para corregir las observaciones que previamente serán notificadas por Asuntos Estudiantiles por medio del correo institucional, presione el botón warning (triángulo amarillo) en las columnas donde aparezca.</li>
                            <li>Es muy importante para el proceso de becas socioeconómicas estar pendiente del correo institucional para seguir las indicaciones de Asuntos Estudiantiles.</li>
                        </ol>
                        
                    </div>
                </div>
            </div>
            <div id="covid" class="col-6">
                <div class="row">
                    <div class="col">
                        <h2>
                            ¿Crees que te contagiaste de la COVID-19?
                        </h2>
                    </div>
                </div>
                <div class="row rounded" style="background-color: white; color: black;">
                    <div class="col" style="height: auto; font-weight: bold;">
                        <p>
                            Revisa los siguiente enlaces para saber qué hacer. Recuerda que la mayoría de casos son leves y no requieren atención hospitalaria.
                        </p>
                        <div class="row">
                            <div>
                                <span>Recuperacion en el hogar</span>
                                <ul>
                                    <li><a href="https://www.gob.pe/10969">¿Qué hacer si me contagié de COVID-19?</a></li>
                                    <li><a href="https://www.gob.pe/8733">¿Cómo cuidar un paciente sospechoso?</a></li>
                                    <li><a href="https://www.gob.pe/9051">Alimentación para personas con COVID-19</a></li>
                                    <li><a href="https://www.gob.pe/8804">Recomendaciones para el uso de mascarillas</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="solicitud" class="col-6">
                <div class="row">
                    <div class="col">
                        <h2>
                            Solicitudes Generales
                        </h2>
                    </div>
                </div>
                <div class="row rounded" style="background-color: white; color: black;">
                    <div class="col" style="height: auto; font-weight: bold;">
                        <ul>
                            <li><a href="#">Actualiza tus datos personales</a></li>
                            <li><a href="#">Historial de notas del alumno</a></li>
                            <li><a href="#">Situacion academica</a></li>
                            <li><a href="#">Consulta de reservas realizadas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div id="footer"></div>
</div>