<div id="content" class="panel panel-primary" #content>
  <div class="panel-heading">
    <h2>Lista de Empleados</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead class="bg-dark">
        <tr class="text-light">
          <th>ID</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>DNI</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th>Direccion</th>
          <th>Estado</th>
          <th>Cargo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="bg-dark">
        <tr *ngFor="let empleados of empleados | async">
          <td class="text-light">{{empleados.id_EMPLEADOS}}</td>
          <td class="text-light">{{empleados.nombres}}</td>
          <td class="text-light">{{empleados.apellidos}}</td>
          <td class="text-light">{{empleados.dni}}</td>
          <td class="text-light">{{empleados.correo}}</td>
          <td class="text-light">{{empleados.telefono}}</td>
          <td class="text-light">{{empleados.direccion}}</td>
          <td class="text-light">{{empleados.estado}}</td>
          <td class="text-light">{{empleados.id_CARGO.nombre}}</td>
          <td><button (click)="empleadosDelete(empleados.id_EMPLEADOS)" class="btn btn-danger">Delete</button>
              <button (click)="empleadosUpdate(empleados.id_EMPLEADOS)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="empleadosDetails(empleados.id_EMPLEADOS)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div>
  <button type="button" style="margin: 10px" class="btn btn-primary" (click)="imprimirLista()">Imprimir</button>
</div>
